<script>
    function login() {
        $.ajax({
            url: 'account/login',
            type: 'POST',
            data: {
                username: $('#username').val(),
                password: $('#password').val()
            }
        }).then(data => {
            setCookie('token', data.token, 1)
        })
            .catch(err => {
                console.log(err)
            })
    }

</script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tea House | Trang chủ</title>
    <!-- Link TinyMce -->
    <script src="https://cdn.tiny.cloud/1/t7lfci0vr2p6osdmr32k2iz3qdpczrskr1fizt0muc6tbozu/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
    <!-- Link Favicon -->
    <link rel="icon" type="image/x-icon" href="/img/favi.png">
    <!-- Link Bootrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Link OwlCarousel -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Font AweSome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link Normalize Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Link CSS -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div class="app">
<section id="register">
    <div class="register-form-container">
        <h3 class="register-heading">Đăng kí</h3>
        <p class="resgister-link-wrap">Đã có tài khoản,
            <a class="resgister-link" href="/account/login">đăng nhập tại đây</a>
        </p>
        <form method="POST" action="/account/store">
            <input required type="text" class="login-register-btn-common" placeholder="Full Name" name="name">
            <input required type="email" class="login-register-btn-common" placeholder="Email" name="email">
            <input required type="tel" class="login-register-btn-common" placeholder="Phone" name="phone">
            <input required type="text" class="login-register-btn-common" placeholder="UserName" name="username">
            <input required type="password" class="login-register-btn-common" placeholder="PassWord" name="password">
            <input id="toastTrigger" type="submit" class="login-register-btn-common submit-input">
        </form>
        <div class="another-links">
            <a href="/account/forgot">Quên mật khẩu</a>
        </div>
        <p class="introduce-socials">Hoặc đăng nhập bằng</p>
        <div class="social-btns">
            <div class="social-wrap-btn facebook-wrap-btn">
                <i class="fa-brands fa-facebook"></i>
                <p>Facebook</p>
            </div>
            <div class="social-wrap-btn google-wrap-btn">
                <i class="fa-brands fa-google"></i>
                <p>Google</p>
            </div>
        </div>
    </div>
</section>
    </div>
    <!-- Link JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Link Owlcaroulsel -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Link Bootrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

    {{!-- Owl --}}
    <script>
        $('#home .gallery .owl-carousel.owl-carousel--gallery').owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 6000,
            responsive: {
                0: {
                    items: 2
                },
                740: {
                    items: 3
                },
                1024: {
                    items: 5
                }
            }
        })
        $('#home .drink-list .owl-carousel').owlCarousel({
            loop: true,
            autoplay: false,
            autoplayTimeout: 6000,
            responsive: {
                0: {
                    items: 2
                },
                740: {
                    items: 2
                },
                1024: {
                    items: 4
                }
            }
        })
        $('#home .category .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 6000,
            dotsEach: true,
            URLhashListener: true,
            center: true,
            startPosition: 'URLHash',
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 3
                }
            }
        })
        $('#menu .owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })  
    </script>
    {{!--
    <script src="../../../hehavior.js"></script> --}}
    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        var currentPage = parseInt(params.page);
        var lastPage = document.querySelector('.tongSoPage').innerText
        // Màu pagination
        var list = document.querySelectorAll('.page-link--number')
        document.querySelectorAll('.page-link--number')[currentPage - 1].classList.add('page-link--actived')
        function nextMenu() {
            var nextPage = currentPage + 1
            if (nextPage > lastPage) {
                nextPage = lastPage
            }
            location.href = `/menu?page=${nextPage}`;
        }
        function nextTraHoaQua() {
            var nextPage = currentPage + 1
            if (nextPage > lastPage) {
                nextPage = lastPage
            }
            location.href = `/menu/tra-hoa-qua?page=${nextPage}`;
        }
        function nextSmoothies() {
            var nextPage = currentPage + 1
            if (nextPage > lastPage) {
                nextPage = lastPage
            }
            location.href = `/menu/smoothies?page=${nextPage}`;
        }
        function nextBanhngot() {
            var nextPage = currentPage + 1
            if (nextPage > lastPage) {
                nextPage = lastPage
            }
            location.href = `/menu/banh-ngot?page=${nextPage}`;
        }
        function nextCaphe() {
            var nextPage = currentPage + 1
            if (nextPage > lastPage) {
                nextPage = lastPage
            }
            location.href = `/menu/ca-phe?page=${nextPage}`;
        }
        function previousMenu() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/menu?page=${previousPage}`;
        }
        function previousMenu() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/menu?page=${previousPage}`;
        }
        function previousTrahoaqua() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/menu/tra-hoa-qua?page=${previousPage}`;
        }
        function previousCaphe() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/menu/ca-phe?page=${previousPage}`;
        }
        function previousSmoothies() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/menu/smoothies?page=${previousPage}`;
        }
        function previousBanhngot() {
            var previousPage = currentPage - 1
            if (previousPage < 1) {
                previousPage = 1
            }
            location.href = `/menu/banh-ngot?page=${previousPage}`;
        }     
    </script>
</body>

</html>
