<section id="footer">
    <div class="container"> 
        <div class="footer-content">
            <div class="row">  
                <div class="col-lg-4 col-md-12">
                    <div class="footer-column">
                        <h3 class="footer-column-heading"> 
                            <a href="index.html"> 
                                <img src="./assets/imgs/main-logo.png" alt="">
                            </a>
                        </h3> 
                        <div class="footer-content-introduce">
                            <p>
                                Chúng tôi mong muốn Tea House sẽ trở thành “Nhà Trà", nơi mọi người xích lại gần nhau và tìm thấy niềm vui, sự
                                sẻ chia
                                thân tình bên những tách cà phê đượm hương, chất lượng.
                            </p> 
                            <ul class="socials-list">
                                <li class="socials-item"> 
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href=""> 
                                            <i class="fa-brands fa-github"></i>
                                        </a> 
                                    </div>  
                                </li>
                                <li class="socials-item"> 
                                    <div class="socials-item__link-wrap">
                                    <a class="socials-item__link" href=""> 
                                            <i class="fa-brands fa-facebook"></i>
                                        </a> 
                                    </div> 
                                </li>
                                <li class="socials-item"> 
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href=""> 
                                            <i class="fa-brands fa-square-instagram"></i>
                                        </a> 
                                    </div> 
                                </li>
                                <li class="socials-item"> 
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href=""> 
                                            <i class="fa-brands fa-youtube"></i>
                                        </a> 
                                    </div> 
                                </li>
                                <li class="socials-item">
                                    <div class="socials-item__link-wrap">
                                        <a class="socials-item__link" href=""> 
                                            <i class="fa-brands fa-linkedin-in"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-column">
                        <h3 class="footer-column-heading footer-column-heading--contact">
                            Liên hệ với chúng tôi
                        </h3>  
                        <div class="footer-content-contact">
                            <ul class="footer-content-contact-list">
                                <li class="footer-content-contact-item">
                                    <i class="fa-solid fa-location-dot"></i> 
                                    <p>Địa chỉ: Trường Đại Học Công Nghệ Thông Tin Và Truyền Thông Việt - Hàn, Đại Học Đà Nẵng</p>
                                </li>
                                <li class="footer-content-contact-item">
                                    <i class="fa-solid fa-phone"></i> 
                                    <p>Hotline đặt bàn: 1900 6750 <br> Hotline giao hàng: 1900 6750</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-column">
                        <h3 class="footer-column-heading footer-column-heading--sale">
                            ĐĂNG KÝ NHẬN KHUYẾN MÃI
                        </h3> 
                        <div class="footer-content-sale">
                            <p>Đừng bỏ lỡ những sản phẩm và chương trình khuyến mãi hấp dẫn</p>  
                            <div class="footer-content-sale-input-wrap">
                                <input placeholder="Email của bản" type="text" class="footer-content-sale-input">  
                                <button class="footer-content-sale-btn">Đăng kí</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="row">
            <div class="copyright"> 
                <p>© Bản quyền thuộc về Tran Bao Linh | Cung cấp bởi Sapo</p>
            </div>
        </div>
    </div> 
</section>  