    <section id="news">   
        <div class="breadcumb-container">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
                    </ol>
                </nav>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-12">
                    <section class="news__content">
                        <div class="news-main">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <a class="news-item">
                                            <div class="news-item__img-wrap">
                                                <img src="/img/blog-1.png" alt="" class="news-item__img">
                                            </div>
                                            <div class="news-item__content">
                                                <h3 class="news-item__content-heading">
Uống 1-4 tách cà phê mỗi ngày giúp bệnh nhân ung thư kéo dài sự sống
                                                </h3>
                                                <p class="news-item__content-text">
                                                    Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế.
                                                    Không chỉ cuốn hút ở mùi vị, một
                                                    cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <a class="news-item">
                                            <div class="news-item__img-wrap">
                                                <img src="/img/blog-2.png" alt="" class="news-item__img">
                                            </div>
                                            <div class="news-item__content">
                                                <h3 class="news-item__content-heading">
                                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                                </h3>
                                                <p class="news-item__content-text">
                                                    Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế.
                                                    Không chỉ cuốn hút ở mùi vị, một
                                                    cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng
                                                </p>
                                            </div>
                                        </a>
                                    </div> 
                                </div> 
                                <div class="row mt-3"> 
                                    <div class="col-lg-6">
                                        <a class="news-item news-item--horizontal">
                                            <div class="news-item__img-wrap">
                                                <img src="/img/blog-3.png" alt="" class="news-item__img">
                                            </div>
                                            <div class="news-item__content">
                                                <h3 class="news-item__content-heading">
Dùng cốc giấy đựng cà phê nóng, thứ bạn uống đầy ắp những thứ đáng sợ này
                                                </h3>
                                                <p class="news-item__content-text">
                                                    Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế.
                                                    Không chỉ cuốn hút ở mùi vị, một
                                                    cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a class="news-item news-item--horizontal">
                                            <div class="news-item__img-wrap">
                                                <img src="/img/blog-4.png" alt="" class="news-item__img">
                                            </div>
                                            <div class="news-item__content">
                                                <h3 class="news-item__content-heading">
                                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                                </h3>
                                                <p class="news-item__content-text">
                                                    Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế.
                                                    Không chỉ cuốn hút ở mùi vị, một
                                                    cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="row mt-3"> 
                                    <div class="col-lg-6">
                                        <a class="news-item news-item--horizontal">
                                            <div class="news-item__img-wrap">
                                                <img src="/img/blog-5.png" alt="" class="news-item__img">
                                            </div>
                                            <div class="news-item__content">
                                                <h3 class="news-item__content-heading">
                                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                                </h3>
                                                <p class="news-item__content-text">
                                                    Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế.
                                                    Không chỉ cuốn hút ở mùi vị, một
                                                    cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-lg-6">
                                        <a class="news-item news-item--horizontal">
                                            <div class="news-item__img-wrap">
                                                <img src="/img/blog-6.png" alt="" class="news-item__img">
                                            </div>
                                            <div class="news-item__content">
                                                <h3 class="news-item__content-heading">
                                                    Nhâm nhi cà phê bao lâu nhưng bạn tận mắt nhìn kỹ xem hạt cà phê chưa?
                                                </h3>
                                                <p class="news-item__content-text">
                                                    Cốc cafe vị đăng đắng, lẫn thêm chút ngọt bùi của sữa đặc sao mà gây nghiện đến thế.
                                                    Không chỉ cuốn hút ở mùi vị, một
                                                    cốc cafe sáng còn giúp ngày mới tràn đầy năng lượng với người trẻ, sẵn sàng
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div> 
                <div class="col-lg-3 d-none d-lg-block ">
                    <div class="sidebar"> 
                        <div class="slidebar__category">
                            <div class="sidebar__heading">
                                <h3 class="sidebar__heading-text">
                                    danh mục tin tức
                                </h3> 
                                <span class="sidebar__heading-line"></span>
                            </div> 
                            <ul class="slidebar__category-list">
                                <li class="slidebar__category-item custom-li"> 
                                    <a href="/" class="slidebar__category-link"> 
                                        trang chủ
                                    </a> 
                                </li>
                                <li class="slidebar__category-item custom-li"> 
                                    <a href="/sites/introduce" class="slidebar__category-link"> 
                                        giới thiệu
                                    </a> 
                                </li>
                                <li class="slidebar__category-item custom-li"> 
                                    <a href="/menu" class="slidebar__category-link"> 
                                        thực đơn 
                                    </a> 
                                </li>
                                <li class="slidebar__category-item custom-li"> 
                                    <a href="/sites/news" class="slidebar__category-link"> 
                                        tin tức
                                    </a> 
                                </li>
                                <li class="slidebar__category-item custom-li"> 
                                    <a href="/sites/contact" class="slidebar__category-link"> 
                                        liên hệ
                                    </a> 
                                </li>
                            </ul>
                        </div> 
                        <div class="sliderbar__about">
                            <div class="sidebar__heading">
                                <h3 class="sidebar__heading-text">
                                    về chúng tôi
                                </h3>
                                <span class="sidebar__heading-line"></span>
                            </div> 
                            <div class="sliderbar__about-main">
                                <div class="sliderbar__about-main__img-wrap">
                                    <img src="/img/news-2.webp" alt="" class="sliderbar__about-main__img">
                                </div> 
                                <p class="sliderbar__about-main__text">
                                    Tea House được sinh ra từ niềm đam mê bất tận với lá trà Việt Nam. Chúng tôi đã không ngừng mang đến những sản phẩm trà
                                    thơm ngon, sánh đượm trong không gian thoải mái và lịch sự với mức giá hợp lý.
                                </p> 
                                <button class="sliderbar__about-main__btn">
                                    đọc tiếp
                                </button>
                            </div> 

                        </div> 
                        <div class="sliderbar__gallery">
                            <div class="sidebar__heading">
                                <h3 class="sidebar__heading-text">
                                    hình ảnh tea house
                                </h3>
                                <span class="sidebar__heading-line"></span>
                            </div> 
                            <div class="sliderbar__gallery-main">
                                <div class="row">
                                    <div class="col-lg-4"> 
                                        <div class="sliderbar__gallery-img-wrap">
                                            <img src="/img/blog-7.png" alt="" class="sliderbar__gallery-img">
                                        </div>
                                    </div>
                                    <div class="col-lg-4"> 
                                        <div class="sliderbar__gallery-img-wrap">
                                            <img src="/img/blog-11.png" alt="" class="sliderbar__gallery-img">
                                        </div>
                                    </div>
                                    <div class="col-lg-4"> 
                                        <div class="sliderbar__gallery-img-wrap">
                                            <img src="/img/blog-12.png" alt="" class="sliderbar__gallery-img">
                                        </div>
                                    </div>
                                </div> 
                                <div class="row mt-3">
                                    <div class="col-lg-4">
                                        <div class="sliderbar__gallery-img-wrap">
                                            <img src="/img/blog-8.png" alt="" class="sliderbar__gallery-img">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="sliderbar__gallery-img-wrap">
                                            <img src="/img/blog-9.png" alt="" class="sliderbar__gallery-img">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="sliderbar__gallery-img-wrap">
                                            <img src="/img/blog-10.png" alt="" class="sliderbar__gallery-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>